.event__list {
  width: 40rem;
  max-width: 100%;
  margin: 3rem auto;
  list-style: none;
  padding: 0;
}

.event__list h1 {
  color: beige;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .event__list {
    margin: 1rem auto;
  }
}
