.footer__div {
  height: 150px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 757px;
}

.footer__div h3 {
  position: absolute;
  color: beige;
  top: 100px;
  right: 100px;
}

.svg__footer {
  height: 100%;
  width: 100%;
}

.path__footer {
  stroke: none;
  fill: #0b8076d6;
}

@media only screen and (max-width: 600px) {
  .footer__div {
    height: 150px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 672px;
  }
}
