.book-event-list {
  margin-top: 1rem;
  width: 40rem;
  max-width: 100%;
  margin: 3rem auto;
  list-style: none;
  padding: 0;
}
.book-event-list p {
  display: inline;
  margin-right: 7px;
}

.booked-event-title {
  color: #c21989;
}

.title-wrapper {
  text-align: center;
}
.title-wrapper h1 {
  color: beige;
}
.event_list_item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #b3b0b0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* button */

.event_list_item button,
.btn {
  margin-right: 1rem;
  padding: 0.3rem 1rem;
  font: inherit;
  background: #0b8076;
  border: 1px solid #0b8076;
  border-radius: 3px;
  color: rgb(245, 235, 222);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.event_list_item button:hover,
.event_list_item button:active,
.btn:hover,
.btn:active,
.btn:focus {
  background: #c21989;
  border: 1px solid #c21989;
  outline: #c21989;
}

/* h element */
.event_list_item h3 {
  margin: 0;
  color: #0b8076;
}

.event_list_item h4 {
  color: #5f5c5c;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .event_list_item h3 {
    font-size: 1rem;
  }
}
