.main-content {
  margin: 4rem 2.5rem;
}

@media only screen and (max-width: 600px) {
  .main-content {
    margin: 0 2.5rem;
  }
}

.name-tag {
  color: beige;
  position: absolute;
  right: 6%;
  bottom: 6%;
}
